@import "bootstrap/dist/css/bootstrap.min.css";
@import "@mdi/font/css/materialdesignicons.css";

body {
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-image: url("images/background.webp");
}

main {
  height: 80vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card {
  background-color: rgba(33, 37, 41, 0.62);
  backdrop-filter: blur(3px);
}

.main-card {
  width: 550px;
}

.input-group-append {
  * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: #{768px}) {
  .main-card {
    width: 75%;
  }
}